<section>
  <div class="header">
    <h2>{{comercio?.nombre}}</h2>
    <p>Responsable: <span>{{comercio?.responsable}}</span></p>
    <p>Descripción: <span>{{comercio?.descripcion}}</span></p>
  </div>
  <div class="detalle">
    <div class="imagen">
      <img [src]="comercio?.imagen" alt="">
    </div>
    <p>Horarios: <span>{{comercio?.horarios}}</span></p>
    <p>Direccion: <span>{{comercio?.direccion}}</span></p>
    <p>Costo de Envio: <span>{{comercio?.costoEnvio}}</span></p>
    <p>Teléfono: <span>{{comercio?.telefono}}</span></p>
    <p>Acepta Efectivo: <span>{{comercio?.pagoEfectivo ? 'Si' : 'No'}}</span></p>
    <p>Acepta Digital: <span>{{comercio?.pagoDigital ? 'Si' : 'No'}}</span></p>
    <p>Take-away: <span>{{comercio?.retiro ? 'Si' : 'No'}}</span></p>
  </div>
  <div class="cuenta">

  </div>
  <div class="btn-container">
    <button class="btn btn-default" (click)="eliminarComercio(comercio._id)">
      <mat-icon>email</mat-icon>
    </button>
    <button class="btn btn-default warn" (click)="eliminarComercio(comercio._id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</section>
