@import '../../../assets/index.scss';
button{
  z-index: 400;
  border-style: none;
  outline: none;
  background-color: transparent;
  width: 70%;
  .desactivo{
    opacity: 0.5 !important;
  }
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    min-height: 230px;
    overflow: hidden;
    padding: 0;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.699);
    box-shadow: 2px 2px 2px 1px rgba(131, 131, 131, 0.2);
    border-radius: 2px;
    cursor: pointer;
    .info-container{
      display: flex;
      flex-direction: column;
      width: 100%;
      .codigos{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
        p{
          z-index: 400;
          color: $dark;
          margin: 0;
        }
      }
      .visible{
        z-index: 400;
        color: $dark;
        margin: 0;
      }
      .title{
        font-size: 16px !important;
        text-align: center;
        width: 100%;
        margin-top: 10px;
        color: $dark;
      }
      .subtitle{
        font-size: 12px !important;
        color: $dark;
        b{
          color: $dark-gray;
          font-weight: 500;
        }
      }
      .envio{
        background-color: $green;
        color: $white;
        b{
          color: $white;
          font-weight: 500;
        }
      }
      .retira{
        background-color: $red;
        color: $white;
        b{
          color: $white;
          font-weight: 500;
        }
      }
    }
    .info-body{
      .title{
        font-size: 18px;
        z-index: 10;
        width: 100px;
        right: 0;
        color: $dark;
      }
      .subtitle{
        color: $dark;
        font-size: 12px !important;
        padding-left: 16px;
        padding-right: 16px;
        b{
          color: $base-color;
          font-weight: 600;
        }
      }
    }

  }
}


