<button *ngIf="pedido" (click)="viewPedido()">
  <div class="card">
    <div class="info-container">
      <h3 class="visible title">Pedido N° {{posicion}} | #{{pedido.idPedido}}</h3>
      <p class="subtitle" [ngClass]="pedido.configuracion.retira ? 'retira' : 'envio'"><b>Enviar: {{!pedido.configuracion.retira ? 'Si' : 'No'}}</b></p>
      <p class="subtitle"><b>{{pedido.createdAt | date:'dd/MM HH:mm:ss' : '-0300'}}</b></p>
    </div>
    <div class="info-body">
      <p class="visible subtitle">ITEMS: {{pedido.items}}</p>
      <p class="subtitle">Método de pago: {{pedido.configuracion.pagoDigital ? 'Digital' : 'Efectivo'}}</p>
      <p *ngIf="pedido.pagoEfectivo" class="subtitle">Abona con: {{pedido.configuracion.pagaCon | currency}}</p>
      <p *ngIf="pedido.pagoEfectivo" class="subtitle">Vuelto: {{(pedido.configuracion.pagaCon - pedido.total) | currency}}</p>
      <p class="subtitle" *ngIf="!pedido.retira">Dirección: {{pedido.configuracion.direccion}} {{pedido.configuracion.numDep}} | {{pedido.configuracion?.direccionInfo}}</p>
      <p class="subtitle"><b>Total: {{pedido.total | currency}}</b></p>
    </div>
  </div>
  </button>

