@import '../../../assets/index.scss';
button{
  z-index: 400;
  border-style: none;
  outline: none;
  background-color: transparent;
  width: 70%;
  .desactivo{
    opacity: 0.5 !important;
  }
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 280px;
    overflow: hidden;
    padding: 0;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.699);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    .info-container{
      display: flex;
      flex-direction: column;
      width: 100%;
      .codigos{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
        p{
          z-index: 400;
          color: $white;
          margin: 0;
        }
      }
      .visible{
        z-index: 400;
        color: $white;
        margin: 0;
      }
      .title{
        font-size: 16px !important;
        text-align: center;
        width: 100%;
        margin-top: 10px;
        color: $white;
      }
      .subtitle{
        font-size: 12px !important;
        color: $white;
      }
      .envio{
        background-color: $green;
        color: $white;
      }
      .retira{
        background-color: $red;
        color: $white;
      }
    }
    .info-body{
      margin-top: 5px;
      .title{
        font-size: 18px;
        z-index: 10;
        width: 100px;
        right: 0;
        color: $white;
      }
      .subtitle{
        color: $white;
        font-size: 12px !important;
      }
    }

  }
}
