@import '../../../assets/index.scss';

.container{
  .title-container{
    h2{
      width: 100%;
      font-size: 30;
      text-transform: uppercase;
      margin-bottom: 20;
      margin-top: 0px;
      color: $dark;
    }
  }

}
