@import '../../../assets/index.scss';

.cont{
  margin: 0px;
  padding: 0px;
  .title-container{

    padding: 0;
    h2{
      width: 100%;
      padding: 0;
      font-size: 30;
      text-transform: uppercase;
      margin-bottom: 20;
      margin-top: 0px;
      color: $dark;
    }
  }

}
