@import '../../../assets/index.scss';
.container{
  max-height: 90vh;
  max-width: 50vw;
  .contenido{
    padding-bottom: 50px;
    width: 90%;
    margin: 0 auto;
  }
}
.input-image{
  margin-top: 20px;
  margin-bottom: 20px;

}
.confirmar-eliminar{
  width: 200px;
  display: flex;
  justify-content: space-around;
  .confirmar{
    width: 80px !important;
  }
  .no{
    background-color: $red !important;
  }
  .ok{
    background-color: $green !important;
  }
}


.add-image{
  display: flex;
  justify-content: space-between;
  .previewImg{
    width: 250px;
    height: 220px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px rgba(102, 102, 102, 0.568);
    overflow: hidden;
    margin-bottom: 20px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
  }
}

