<section class="contenedor">
  <app-loading *ngIf="loading"></app-loading>
  <h1>{{title}}</h1>
  <div class="contenido">
    <form [formGroup]="form" (ngSubmit)="submitFn(productoModel)" class="form-container">
        <formly-form [form]="form" [fields]="fields" [model]="productoModel">
        </formly-form>
        <div class="add-image">
          <input type="file" (change)="verImagen($event)" name="imagen" class="input-image">
          <div class="previewImg">
            <img [src]="imagenPrevisualizacion" alt="">
          </div>
        </div>
        <div class="button-container">
          <button type="submit" class="btn btn-success">{{buttonText}}</button>
          <button type="button" (click)="confirmacion = true" class="btn btn-danger" *ngIf="viewDeleteButton && !confirmacion">Eliminar</button>
          <div class="confirmar-eliminar" *ngIf="confirmacion">
            <button type="button"  style="width: 100px;"class="btn btn-danger" (click)="confirmacion = false" *ngIf="viewDeleteButton">No</button>
            <button type="button"  style="width: 100px; margin-left: 5px;" (click)="deleteProduct()" class="btn btn-success" *ngIf="viewDeleteButton">Si</button>
          </div>
          <button type="button" (click)="desactivarProducto()" class="btn btn-dark" *ngIf="viewDeleteButton && productoModel.activo">Desactivar</button>
          <button type="button" (click)="activarProducto()" class="btn btn-success" *ngIf="viewDeleteButton && !productoModel.activo">Activar</button>
        </div>
    </form>
  </div>
</section>
