<app-header title="{{title}}"></app-header>
<div class="button-container">
  <button class="btn" (click)="crearNuevo()">
    <mat-icon matTooltip="Añadir nuevo prducto">add</mat-icon>
  </button>
  <div class="categorias-container" >
    <mat-chip-list >
      <mat-chip (click)="filtrar(categoria?.descripcion, categoria?.descripcion)" *ngFor="let categoria of categoriasComercio">{{categoria?.descripcion}}</mat-chip>
    </mat-chip-list>
  </div>
</div>
<section class="catalogo-container">
    <div *ngFor="let item of productosFiltrados"><product (click)="viewProduct(item)" [producto]='item' [seccionCatalogo]='true'></product></div>
</section>
