<app-header title="{{title}}"></app-header>
<div class="button-container">
  <button class="btn btn-primary" (click)="crearNuevo()">
    <mat-icon matTooltip="Añadir nuevo prducto">add</mat-icon>
  </button>
  <div class="categorias-container" >
    <button class="cat-button" [ngClass]="categoria?.activo ? 'activo' : ''" (click)="filtrar(categoria.id, categoria.valor)" *ngFor="let categoria of categoriasComercio">
      <mat-icon [matTooltip]="categoria?.descripcion">{{categoria?.icono}}</mat-icon>
    </button>
  </div>
</div>
<section class="catalogo-container">
    <div *ngFor="let item of productosFiltrados"><product (click)="viewProduct(item)" [producto]='item' [seccionCatalogo]='true'></product></div>
</section>
