<div class="container">
  <h2>Iniciar Sesion</h2>
    <form [formGroup]="form" (ngSubmit)="iniciarSesion(user)" class="form-container">
      <div class="err" *ngIf="error">{{error}}</div>
      <div class="submit" *ngIf="submitReg">{{submitReg}}</div>
      <formly-form [form]="form" [fields]="fieldsLogin" [model]="user"></formly-form>
      <div class="button-container">
        <button type="submit" class="btn btn-primary" style="width: 100%;">Iniciar Sesión</button>
      </div>
      <div class="options-container">
        <p>No has registrado ningún comercio? <span [routerLink]="['registrar']" class="option-click">Registrar ahora</span></p>
        <p class="option-click" [routerLink]="['actualizarclave']">Olvidé mi contraseña</p>
      </div>
  </form>
</div>
