<mat-drawer-container class="contenedor">
  <mat-drawer-content class="sidebarContainer">
    <div class="header">
      <div class="user">
        <div class="contenedor-imagen" matTooltip="Abrir / Cerrar">
          <div class="info-user-container"  (click)="cerrarAbrir()" >
            <div class="info-user-img" [ngClass]="comercio?.abierto ? 'userAbierto' : 'userCerrado' "><img [src]="comercio?.imagen ? comercio?.imagen : imagenDefault" alt=""></div>
          </div>
        </div>
        <p>{{comercio?.nombre}}</p>
      </div>
      <div class="arrow">
        <mat-icon class="icon">chevron_right</mat-icon>
      </div>
    </div>
    <ul class="menu">
      <li *ngFor="let item of items" class="menu-item" [routerLink]="[item.redirect]" routerLinkActive="active">
        <mat-icon [matTooltip]="item.nombre">{{item.icon}}</mat-icon>
      </li>
      <li class="menu-item logout" (click)="cerrarSesion()"  routerLinkActive="active">
        <mat-icon matTooltip="Cerrar Sesión" >logout</mat-icon>
      </li>
    </ul>
  </mat-drawer-content>
</mat-drawer-container>

