.estadisticas{
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  .tarjeta{
    margin-right: 16px;
    margin-bottom: 16px;
    flex: 1;
    cursor: pointer;
    &.w-300{
      flex: 1.5;
    }
    &.w-500{
      flex: 1.8;
    }
  }
}
