<button *ngIf="producto">
<div class="card" [ngClass]="producto.activo ? '' : 'desactivo'">
  <img src="{{producto.imagen ? producto.imagen : defaultImage}}" alt="" class="background">
  <mat-card-content class="content">
    <h3 class="visible title">{{producto.nombre}}</h3>
    <p *ngIf="producto.precio > 0 && producto.descuento <= 0" class="price">{{producto.precio | currency}}</p>
    <p *ngIf="producto.descuento > 0" class="price m-0">{{producto.precio | currency}}</p>
    <p *ngIf="producto.descuento > 0" class="descuento m-0">{{producto.descuento}}% <span>{{getPrecioViejo() | currency}}</span> </p>
  </mat-card-content>
</div>
</button>
