@import '../../../assets/index.scss';
button{
  z-index: 500;
  border-style: none;
  outline: none;
  background-color: transparent;
  margin-top: 10px;
  .desactivo{
    opacity: 0.5 !important;
  }
  .card-cont{
    position: relative;
    width: 250px;
    height: 150px;
    overflow: hidden;
    padding: 0;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 1px 0px 2px 1px rgba(102, 102, 102, 0.2);
    cursor: pointer;
    .loadImagen{
      position: absolute;
      bottom: 0;
      height: 200px;
      z-index: 100;
      background-color: #fff;
      padding-top: 5px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
    }
    .content-title{
      position: absolute;
      top: 0;
      background-color: #fff;
      opacity: 0.9;
      width: 100%;
      box-shadow: 0px 0px 2px 1px rgba(102, 102, 102, 0.2);
      .visible{
        z-index: 1000;
        color: $dark;
        margin: 0;
      }
      .title{
        font-size: 12px !important;
        margin: 0;
        color: $base-color;
        font-weight: 500;
      }
    }
    .content{
      opacity: 0.9;
      position: absolute;
      bottom: 16px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 25px;
      width: 90%;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0px 0px 2px 1px rgba(102, 102, 102, 0.2);
      z-index: 0;
      left: 12px;
      .price{
        color: $base-color;
        font-size: 16px;
        padding: 0px;
        margin: 0px;
      }
    }
    .background{
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;

    }
    .descuento{
      color: $green;
      margin: 0;
      span{
        text-decoration: line-through;
      }
    }
  }
}

