
@import '~@angular/material/theming';
@import './assets/index.scss';
@import "~@ng-select/ng-select/themes/default.theme.css";
@include mat-core();

$my-app-primary: mat-palette($paleta-primaria, 500);
$my-app-accent:  mat-palette($paleta-secundaria, 500);
$my-app-warn:    mat-palette($paleta-red, 500);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

body{
    margin: 0 !important;
    padding: 0 !important;
}

button:disabled{
  background-color: rgb(173, 173, 173);
  opacity: 0.7;
  cursor: default !important;
  &:hover{
    background-color: rgb(173, 173, 173);
    opacity: 0.7;
    cursor: default !important;
  }
}

.mat-tab-labels{
  justify-content: space-between;
  background-color: #fff;
}

.button-container{
  display: flex;
  justify-content: space-between;
}

.btn-default{
  background-color: $secondary;
  outline: none;
  width: 150px;
  height: 30px;
  border-style: none;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
}
.btn-default.warn{
  background-color: $red;
}
.btn-default.warn:hover{
  background-color: $red;
}
.btn-default:hover{
  cursor: pointer;
  background-color: $base-color;
  color: #fff;
}
.header-form p{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  color: $base-color;
  text-transform: uppercase;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: $base_color !important;
}
.aclaracion{
  font-size: 14px;
  color: $dark-gray;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
