<section class="container">
  <div class="usuario">
    <h1>Solicitante</h1>
    <p>Nombre y apellido: <span>{{pedidoSeleccionado.cliente.nombre}}</span></p>
    <p>Dirección del pedido: <span>{{pedidoSeleccionado.configuracion.direccion}} {{pedidoSeleccionado.configuracion.numDep}} {{pedidoSeleccionado.configuracion?.direccionInfo ? pedidoSeleccionado.configuracion.direccionInfo : '' }}</span></p>
    <p>Celular: <span class="numeroTelefono" matTooltip="Haz click para redirigir a WhatsApp" (click)="redirectWsp(pedidoSeleccionado.cliente.telefono)">{{pedidoSeleccionado.cliente.telefono}} </span></p>
  </div>
  <hr>
  <div class="productos">
    <h1>Productos ({{pedidoSeleccionado.items}})</h1>
    <ul *ngFor="let producto of productosPedido" class="product-list">
      <li>
        <product-pedido [producto]="producto"></product-pedido>
      </li>
    </ul>
    <p class="total">Total: <span>{{pedidoSeleccionado.total | currency}}</span></p>
  </div>
  <hr>
  <div class="seguimiento">
    <h1>Seguimiento</h1>
    <div class="seguimientos">
      <p>Recibido</p>
      <p>En curso</p>
      <p>Finalizado</p>
    </div>
    <mat-progress-bar mode="determinate" [value]="calcularSeguimiento()"></mat-progress-bar>
  </div>
  <div class="button-container">
    <button type="button" *ngIf="pedidoSeleccionado.estado < 5" (click)="submitFn()" class="btn btn-primary">{{getButtonText(pedidoSeleccionado.estado)}}</button>
    <button type="button" [disabled]="loading" (click)="descargarTicket()" class="btn btn-primary">Descargar Ticket</button>
    <button type="button" *ngIf="pedidoSeleccionado.estado == 1" (click)=" rechazarPedido() "class="btn btn-primary">Rechazar Pedido</button>
  </div>
</section>
