<section class="container">
  <div class="usuario">
    <h1>Solicitante</h1>
    <p>Nombre y apellido: <span>{{pedidoSeleccionado.nombreUsuario}}</span></p>
    <p>Dirección: <span>{{pedidoSeleccionado.direccion}} {{pedidoSeleccionado.numDep}} {{pedidoSeleccionado.direccionInfo ? pedidoSeleccionado.direccionInfo : '' }}</span></p>
  </div>
  <hr>
  <div class="productos">
    <h1>Productos ({{pedidoSeleccionado.items}})</h1>
    <ul *ngFor="let producto of productosPedido" class="product-list">
      <li>
        <product-pedido [producto]="producto"></product-pedido>
      </li>
    </ul>
    <p class="total">Total: <span>{{pedidoSeleccionado.total | currency}}</span></p>
  </div>
  <hr>
  <div class="seguimiento">
    <h1>Seguimiento</h1>
    <div class="seguimientos">
      <p>Recibido</p>
      <p>En curso</p>
      <p>Finalizado</p>
    </div>
    <mat-progress-bar mode="determinate" [value]="calcularSeguimiento()"></mat-progress-bar>
  </div>
  <div class="button-container">
    <button type="button" *ngIf="pedidoSeleccionado.estado == 1" (click)="aceptarPedido()" class="btn btn-primary">Aceptar Pedido</button>
    <button type="button" *ngIf="pedidoSeleccionado.estado == 3 && pedidoSeleccionado.retira" (click)="pedidoListoParaRetirar()" class="btn btn-primary">Listo para retirar</button>
    <button type="button" *ngIf="pedidoSeleccionado.estado == 3 && !pedidoSeleccionado.retira" (click)="pedidoFinalizado()" class="btn btn-primary">Finalizar Pedido</button>
    <button type="button" *ngIf="pedidoSeleccionado.estado == 4 && !pedidoSeleccionado.retira" (click)="pedidoEnviado()" class="btn btn-primary">Confirmar Envío</button>
    <button type="button" *ngIf="pedidoSeleccionado.estado == 1" (click)=" rechazarPedido() "class="btn btn-primary">Rechazar Pedido</button>
  </div>
</section>
